nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    font-size: large;
    color: #2c3e50;
}
.footer {
    background-color: lightgray;
    /*color: cornsilk;*/
    bottom: 0;
    width: 80%;
    line-height: 0.75;
    padding-top: 20px;
    font-size: 13px;
    position: relative;
    text-align: center;
    bottom: -150px;


}
.logo {
    width: 260px;

}
.header-logo {
width:60%;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #2c3e50;
}

nav a.router-link-exact-active {
    color: #42b983;
}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #2c3e50;
}
.header {

}
.card-style {
    color: white
}
.login-image {
    width:100%
}
.register-image {
    width:100%
}
.input-width {
    width: 140px;
}
.fa-flag:hover {
    color: red;
    cursor: pointer;
}
